:root   {
    /* --col-background:           #e4f3ff;
    --col-pub-nav:              #161b22;
    --col-pub-nav-cont:         #161b22;
    --col-pub-nav-text:         rgb(237, 237, 237);
    --col-pub-body:             #e4f3ff;
    --col-pub-console-cont:     #e4f3ff;
    --col-pub-footer:           #e4f3ff;
    --col-acc-hover:            orange;
    --col-pub-text:             black;
    --col-pub-border:           black;
    --col-pub-i-id:             rgb(84, 84, 84);
    --col-pub-c-p-input:        #161b22;
    --col-submit:               rgb(14, 179, 14);
    --col-submit-text:          rgb(237, 237, 237);
    --col-submit-select:        rgb(94, 232, 94);
    --col-submit-text-select:   rgb(237, 237, 237); */

    --pub-text-line-height:     25px;

    --main-width-desktop:       60%;

    --col-background:           rgb(255, 255, 255);
    --col-pub-nav:              white;
    --col-pub-nav-cont:         white;
    --col-pub-nav-text:         black;
    --col-pub-body:             white;
    --col-pub-console-cont:     white;
    --col-pub-footer:           white;
    --col-acc-hover:            orange;
    --col-pub-text:             black;
    --col-pub-border:           lightgrey;
    --col-pub-i-id:             rgb(84, 84, 84);
    --col-pub-c-p-input:        white;
    --col-submit:               rgb(238, 238, 238);
    --col-submit-text:          black;
    --col-submit-select:        rgb(255, 255, 255);
    --col-submit-text-select:   black;
}

*   {
    box-sizing:     border-box;
    margin:         0;
    padding:        0;
    font-family:    "Helvetica";
    font-size:      1em; /* W3C Recommends em */
}

a {
    text-decoration:    underline;
    font-weight:        bold;
    color:              inherit;       
}

a:hover, a:focus {
    outline:            3px solid var(--col-acc-hover);
}

html {
    min-height:         100%;
}

body {
    position:           relative;
    background-color:   var(--col-background);
    color:              var(--col-pub-text);
    min-height:         100vh;
}

.pub-nav-container   {
    width:              100%;
    background-color:   var(--col-pub-nav-cont);
    /* height:             4rem; */
    color:              var(--col-pub-nav-text);
    
    display:            flex;
    justify-content:    center;
    align-items:        center;
    border-bottom:      3px solid var(--col-acc-hover);

    z-index:            100;
}

.pub-nav {
    width:              100%;
    background-color:   var(--col-pub-nav);
    color:              var(--col-pub-nav-text);
    position:           relative;

    display:            flex;
    justify-content:    center;
    align-items:        center;

    z-index:            101;
}

.pub-nav-logo   {
    text-decoration:    none;
    text-align:         center;
    font-weight:        bold;
    /* letter-spacing:     1px; */
    flex-grow:          2;
    padding:            1rem;
    font-size:          1.5rem;

    color:              var(--col-pub-nav-text);
}

.pub-nav-logo a   {
    text-decoration:    none;
}

.pub-main    {
    width:              100%;
    min-height:         100%;
    background-color:   var(--col-pub-body);
    padding:            1rem;
    padding-bottom:     2rem;

    z-index:            1;
}

.pub-landing-title  {
    display:            block;
    font-size:          1.2rem;
    font-weight:        bold;
    margin-top:         0.9rem;
    margin-bottom:      0.9rem;
}

.pub-desc   {
    /* margin-top:         10px; */
    line-height:        var(--pub-text-line-height);
    padding-bottom:     20px;
}

.pub-underline  {
    border-bottom:      1px solid var(--col-pub-border);
}

.pub-console-cont   {
    background-color:   var(--col-pub-console-cont);
    /* min-height:         36em; */
    margin-top:         20px;

    display:            flex;
    flex-direction:     column;
    justify-content:    top;
    align-items:        top;
}

.pub-console-map-cont   {
    background-color:   #ff9c9c;
    margin-top:         10px;
    flex-basis:         0;
    width:              100%;

    min-height:         30rem;
    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-items:        center;

    border:             1px solid var(--col-pub-border);
}

.pub-console-map-cont #map {
    height:             100%;
    width:              100%;
}

.pub-console-map-cont p {
    display:            block;
    margin:             10px;
    margin-left:        30px;
    margin-right:       30px;
    text-align:         center;
}

.pub-pcon-cont  {
    margin:             1rem;
    padding-top:        1rem;
    background-color:   var(--col-pub-console-cont);
    /* font-weight:        bold; */
    font-size:          1rem;
    text-align:         left;

    display:            flex;
    flex-direction:     column;
    justify-content:    space-evenly;
    align-items:        center;
    border-top:         1px solid var(--col-pub-border);
}

.pub-pcon-cont span {
    display:            block;
    text-align:         center;
}

.pub-in-cont    {
    margin:             1rem;
    margin-top:         0;
    margin-bottom:      0;
    /* padding-top:        1rem; */
    background-color:   var(--col-pub-console-cont);
    /* font-weight:        bold; */
    height:             100%;
    font-size:          1rem;
    text-align:         left;
    overflow-y:         auto;

    display:            flex;
    flex-direction:     column;
    /* justify-content:    space-evenly; */
    align-items:        flex-start;

    border-top:         1px solid var(--col-pub-border);
    /* border-bottom:      1px solid var(--col-pub-border); */
}

.pub-in-pop-cont    {
    width:              100%;
    padding:            1rem;
    /* border-top:         1px solid var(--col-pub-border); */
    border-bottom:      1px solid var(--col-pub-border);
}

.pub-in-pop-title {
    display:            block;
    margin-top:         0.1rem;
    margin-bottom:      0.1rem;
    font-weight:        bold;
}

.pub-in-pop-org {
    display:            block;
    margin-top:         0.1rem;
    margin-bottom:      0.5rem;
}

.pub-in-pop-times   {
    display:            flex;
    flex-direction:     row;
    justify-content:    space-evenly;
}

.pub-in-pop-times-value   {
    display:            block;
    width:              50%;
    margin-top:         0.1rem;
    margin-bottom:      0.1rem;
    text-align:         right;
}

.pub-in-pop-times-lbl {
    width:              50%;
    display:            block;
    margin-top:         0.1rem;
    margin-bottom:      0.1rem;
}

.pub-in-pop-link-cont   {
    display:            block;
    width:              100%;
    text-align:         right;
    margin-top:         0.5rem;
}

.pub-in-pop-link {
    text-align:         right;
}

.pub-console-postcode-cont  {
    width:              100%;
    background-color:   var(--col-pub-console-cont);

    display:            flex;
    flex-direction:     column;
    justify-content:    top;
    align-items:        top;
}

.pub-c-p-sub-cont   {
    margin:             0.5rem;

    display:            flex;
    flex-direction:     column;
    justify-content:    space-evenly;
    align-items:        center;
}

.pub-c-p-sub-label  {
    width:          35%;
    text-align:     center;
    height:         2rem;

    display:            flex;
    justify-content:    center;
    align-items:        center;
}

.pub-c-p-sub-btn    {
    display:        block;
    height:         3rem;
    width:          65%;

    padding:        0;
    margin:         0;
    /* padding-left:   1rem;
    padding-right:  1rem; */
    border:         1px solid var(--col-pub-border);
    /* border-radius:  15px 15px 15px 15px; */
}

.pub-c-p-sub-btn:focus, .pub-c-p-sub-btn:hover  {
    outline:        3px solid var(--col-acc-hover);
}

.pub-c-p-error-cont {
    margin:             0.5rem;
    text-align:         center;
}

.pub-c-p-error-label {
    color:              red;
}

.pub-console-postcode-form   {
    margin:             0.5rem;
    margin-top:         0;

    display:            flex;
    flex-direction:     row;
    justify-content:    center;
    align-items:        center;
}

#pub-c-p-input  {
    display:            block;
    height:             3rem;
    width:              70%;
    padding-left:       1rem;
    background-color:   var(--col-pub-c-p-input);
    /* color:              var(--col-pub-console-cont); */
    /* text-transform: uppercase; */

    border:             1px solid var(--col-pub-border);
    /* border:             0; */
    /* border-radius:  15px 0 0 15px; */
}

#pub-c-p-input:focus, #pub-c-p-input:hover  {
    outline:        3px solid var(--col-acc-hover);
}

#pub-c-p-submit {
    display:        block;
    height:         3rem;
    width:          30%;

    padding:        0;
    margin:         0;
    border:         1px solid var(--col-pub-border);
    /* border:         0; */
    border-left:    0;
    /* border-radius:  0 15px 15px 0; */

    background-color:   var(--col-submit);
    color:              var(--col-submit-text);
}

#pub-c-p-submit:focus, #pub-c-p-submit:hover  {
    background-color:   var(--col-submit-select);
    color:              var(--col-submit-text-select);
    outline:            3px solid var(--col-acc-hover);
    cursor:             pointer;
}

.pub-i-m-id {
    display:            block;
    margin-top:         -0.5rem;
    font-size:          0.8rem;
    color:              var(--col-pub-i-id);
    margin-bottom:      1rem;
}

.pub-i-m-title-cont   {
    width:              100%;
    margin-bottom:      1.5rem;
}

.pub-i-m-subtitle   {
    display:            block;
    font-size:          1.1rem;
    font-weight:        bold;
    margin-bottom:      0.8rem;
}

.pub-in-map-cont    {
    display:            none;
    height:             20rem;
    border:             1px solid var(--col-pub-border);
}

#in-map {
    height:             100%;
    width:              100%;
}

.pub-footer-cont {
    width:              100%;
    background-color:   var(--col-pub-footer);
    border-top:         1px solid var(--col-pub-border);
    /* margin-top:         20px; */
}

.pub-footer-f-cont     {
    width:              100%;
    display:            flex;
    flex-direction:     column;
    justify-content:    space-evenly;
    align-items:        left;
}

.pub-footer-subheader   {
    display:            block;
    font-size:          1rem;
    margin-bottom:      10px;
}

.pub-footer-item    {
    font-size:          0.9rem;
    padding:            1rem;
    line-height:        1.6rem;
}

.pub-hr {
    width:              100%;
    height:             1px;
    background-color:   var(--col-pub-border);
    margin-bottom:      1.5rem;
}

.align-right    {
    text-align:         left;
}

/* Admin */

.adm-login-cont {
    width:              100%;
    display:            flex;
    flex-direction:     column;
}

.adm-log-msg {
    width:              100%;
    padding:            1.5rem;
}

.adm-login-cont form {
    width:              100%;
    margin:             0;
    padding:            0;
    display:            flex;
    flex-direction:     column;
    justify-content:    flex-start;
    align-items:        flex-start;
}

.adm-log-input-gen {
    display:        block;
    height:         3rem;
    width:          100%;
    padding-left:   1rem;
    padding-right:  1rem;

    border:         1px solid var(--col-pub-border);
    /* border-radius:  15px 15px 15px 15px; */
}

.adm-log-lbl    {
    display:            flex;
    width:              100%;
    padding-bottom:     0.5rem;
    padding-top:        0.5rem;
}

.adm-log-err    {
    color:              red;
}

#adm-log-submit {
    display:        block;
    height:         3rem;
    width:          100%;
    margin-bottom:  0.5rem;
    margin-top:     1.5rem;

    border:         1px solid var(--col-pub-border);
    /* border-radius:  15px 15px 15px 15px; */

    background-color:   var(--col-submit);
    color:              var(--col-submit-text);
}

.adm-log-input-gen:focus, .adm-log-input-gen:hover  {
    outline:        3px solid var(--col-acc-hover);
}

#adm-log-submit:focus, #adm-log-submit:hover  {
    background-color:   var(--col-submit-select);
    color:              var(--col-submit-text-select);
    outline:            3px solid var(--col-acc-hover);
    cursor:             pointer;
}

.adm-logout-btn {
    padding:            0;
    margin:             0;
    border:             none;
    background-color:   var(--col-pub-footer);
    font-weight:        bold;
    text-decoration:    underline;
}

.adm-logout-btn:focus, .adm-logout-btn:hover  {
    outline:            3px solid var(--col-acc-hover);
    cursor:             pointer;
}

.adm-th {
    background-color:   #eeeeee;
    color:              var(--col-pub-text);
}

.adm-gen-table  {
    width:              100%;
    /* border:             1px solid var(--col-pub-border); */

    display:            flex;
    flex-direction:     column;
    justify-content:    flex-start;
    align-items:        flex-start; 
    border-bottom:      1px solid var(--col-pub-border);
}

.adm-gen-table-row  {
    text-decoration:    none;
    font-weight:        normal;
    display:            block;
    width:              100%;

    display:            flex;
    flex-direction:     row;
    justify-content:    space-between;
    align-items:        flex-start; 
    border:             1px solid var(--col-pub-border);
    border-bottom:      0;
}

.adm-gen-table a:hover {
    cursor:             pointer;

}

.adm-gen-table-field {
    width:              25%;
    text-decoration:    none;
    text-align:         center;
    font-weight:        normal;
    overflow:           hidden;
    padding:            0.2rem;

    flex-grow:          2;
    display:            flex;
    flex-direction:     row;
    justify-content:    center;
    align-items:        center; 
    /* border:             1px solid var(--col-pub-border); */
}

/* Medium Desktop */
@media screen and (min-width: 1300px)    {
    .pub-nav-logo   {
        text-align:         left;
    }

    .pub-nav {
        width:          var(--main-width-desktop);
    }
    
    .pub-main   {
        width:          var(--main-width-desktop);
        margin-left:    auto;
        margin-right:   auto;
    }

    .pub-footer-cont {
        width:              var(--main-width-desktop);
        margin-left:        auto;
        margin-right:       auto;
    }
}

/* Medium Desktop */
@media screen and (min-width: 950px)    {
    .pub-console-cont   {
        flex-direction:     row;
    }

    .pub-console-postcode-cont  {
        width:              40%;
    }
    
    .pub-console-map-cont   {
        flex-basis:         initial;
        width:              60%;
        margin-left:        1rem;
        margin-right:       0.5rem;
        margin-top:         0;
    }

    .pub-console-map-cont #map {
        height:             100%;
        width:              100%;
    }

    .pub-footer-f-cont     {
        flex-direction:     row;
    }
    
    .pub-footer-item    {
        padding:            1rem;
        /* border-left:        1px solid var(--col-pub-border); */
    }

    .align-right    {
        text-align:         right;
    }

    .pub-c-p-sub-cont   {
        flex-direction:     row;
    }

    .pub-i-m-title-cont  {
        width:              40%;
    }

    /* Admin */

    .adm-login-cont {
        width:              100%;
        display:            flex;
        flex-direction:     row;
    }
    
    .adm-log-msg {
        width:              50%;
    }
    
    .adm-login-cont form {
        width:              50%;
        padding-left:       2rem;
        padding-right:      2rem;
        padding-bottom:     1.5rem;
        border-left:        1px solid var(--col-pub-border);
    }
}