:root   {
    --col-pub-nav:          white;
    --col-pub-nav-cont:     white;
    --col-pub-nav-text:     black;
    --col-pub-body:         white;
    --col-pub-console-cont: white;
    --col-pub-footer:       white;
    --col-acc-hover:        orange;
    --col-pub-text:         black;

    --pub-text-line-height: 25px;
}

*   {
    box-sizing:     border-box;
    margin:         0;
    padding:        0;
    font-family:    "Helvetica";
    font-size:      1em; /* W3C Recommends em */
}

a {
    text-decoration:    underline;
    font-weight:        bold;
    color:              inherit;       
}

a:hover, a:focus {
    outline:            3px solid var(--col-acc-hover);
}

body {
    position:           relative;
}

.pub-nav-container   {
    width:              100%;
    background-color:   var(--col-pub-nav-cont);
    height:             4rem;
    color:              var(--col-pub-nav-text);
    
    display:            flex;
    justify-content:    center;
    align-items:        center;
    border-bottom:      1px solid lightgrey;
    /* -webkit-box-shadow: 0px -4px 5px 4px rgba(0,0,0,0.75);
    -moz-box-shadow:    0px -4px 5px 4px rgba(0,0,0,0.75);
    box-shadow:         0px -4px 5px 4px rgba(0,0,0,0.75); */

    z-index:            100;
}

.pub-nav {
    width:              100%;
    background-color:   var(--col-pub-nav);
    color:              var(--col-pub-nav-text);
    position:           relative;

    display:            flex;
    justify-content:    center;
    align-items:        center;

    z-index:            101;
}

.pub-nav-logo   {
    text-decoration:    none;
    font-weight:        bold;
    /* letter-spacing:     1px; */
    flex-grow:          2;
    padding-left:       10px;
    padding-top:        10px;
    padding-bottom:     10px;
    font-size:          2rem;
    color:              var(--col-pub-nav-text);
}

.pub-nav-logo a   {
    text-decoration:    none;
}

.pub-main    {
    width:              100%;
    background-color:   var(--col-pub-body);
    padding:            10px;

    z-index:            1;
}

.pub-landing-title  {
    display:            block;
    font-size:          1.2rem;
    font-weight:        bold;
    margin-top:         0.9rem;
    margin-bottom:      0.9rem;
}

.pub-desc   {
    /* margin-top:         10px; */
    line-height:        var(--pub-text-line-height);
    padding-bottom:     20px;
    margin-bottom:      20px;
    border-bottom:      1px solid lightgrey;
}

.pub-console-cont   {
    background-color:   var(--col-pub-console-cont);
    /* min-height:         36em; */

    display:            flex;
    flex-direction:     column;
    justify-content:    top;
    align-items:        top;
}

.pub-console-map-cont   {
    background-color:   #ff9c9c;
    margin-top:         10px;
    /* flex-basis:         0; */
    width:              100%;

    height:             30em;
    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-items:        center;
}

.pub-console-map-cont #map {
    height:             100%;
    width:              100%;
}

.pub-console-map-cont p {
    display:        block;
    margin:         10px;
    margin-left:    30px;
    margin-right:   30px;
    text-align:     center;
}

.pub-pcon-cont  {
    margin:             1rem;
    background-color:   var(--col-pub-console-cont);
    font-weight:        bold;
    font-size:          1.5rem;
    text-align:         center;

    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-items:        center;
}

.pub-console-postcode-cont  {
    width:              100%;
    background-color:   var(--col-pub-console-cont);

    display:            flex;
    flex-direction:     column;
    justify-content:    top;
    align-items:        top;
}

.pub-c-p-sub-cont   {
    visibility:         hidden;
    margin:             0.5rem;

    display:            flex;
    flex-direction:     row;
    justify-content:    space-evenly;
    align-items:        center;
}

.pub-c-p-sub-label  {
    width:          35%;
}

.pub-c-p-sub-btn    {
    display:        block;
    height:         3rem;
    width:          65%;

    padding:        0;
    margin:         0;
    /* padding-left:   1rem;
    padding-right:  1rem; */
    border:         1px solid lightgrey;
    border-radius:  15px 15px 15px 15px;
}

.pub-c-p-sub-btn:focus, .pub-c-p-sub-btn:hover  {
    outline:        3px solid var(--col-acc-hover);
}

.pub-c-p-error-cont {
    margin:             0.5rem;
    text-align:         center;
}

.pub-c-p-error-label {
    color:              red;
}

.pub-console-postcode-form   {
    margin:             0.5rem;
    margin-top:         0;

    display:            flex;
    flex-direction:     row;
    justify-content:    center;
    align-items:        center;
}

#pub-c-p-input  {
    display:        block;
    height:         3rem;
    width:          70%;
    padding-left:   1rem;
    text-transform: uppercase;

    border:         1px solid lightgrey;
    border-radius:  15px 0 0 15px;
}

#pub-c-p-input:focus, #pub-c-p-input:hover  {
    outline:        3px solid var(--col-acc-hover);
}

#pub-c-p-submit {
    display:        block;
    height:         3rem;
    width:          30%;

    padding:        0;
    margin:         0;
    border:         1px solid lightgrey;
    border-left:    0;
    border-radius:  0 15px 15px 0;
}

#pub-c-p-submit:focus, #pub-c-p-submit:hover  {
    outline:        3px solid var(--col-acc-hover);
    cursor:         pointer;
}

.pub-footer-cont {
    width:              100%;
    background-color:   var(--col-pub-footer);
    border-top:         1px solid lightgrey;
    margin-top:         20px;
}

.pub-footer-f-cont     {
    width:              100%;
    display:            flex;
    flex-direction:     column;
    justify-content:    space-evenly;
    align-items:        left;
}

.pub-footer-item    {
    padding:            1rem;
}

/* Desktop */
@media screen and (min-width: 1200px)    {
    .pub-nav {
        width:  70%;
    }

    .pub-main   {
        width:          70%;
        margin-left:    auto;
        margin-right:   auto;
    }

    .pub-console-cont   {
        flex-direction:     row;
    }

    .pub-console-postcode-cont  {
        width:              35%;
    }
    
    .pub-console-map-cont   {
        flex-basis:         initial;
        width:              65%;
        margin-left:        15px;
        margin-top:         0;
    }

    .pub-console-map-cont #map {
        height:             100%;
        width:              100%;
    }

    .pub-footer-cont {
        width:              70%;
        margin-left:        auto;
        margin-right:       auto;
    }
    
    .pub-footer-f-cont     {
        flex-direction:     row;
    }
    
    .pub-footer-item    {
        padding:            1rem;
    }
}